body, canvas {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    
}
canvas {
	border: 2px solid black;
	background-color: black;
}
video {
	display: none;
}